body{
    background-color: beige;
}
.container{
    ;
}
.logo{
    height: 150px;
    
}
.form-inline{
    justify-content: center;
}
.header{
/*    display: flex*/
}

.input{
    width: 800px;
}
.datainfo{
    font-family: monospace;
    font-size: 25px
}
.flex{
    display: flex;
    flex-direction: column;
    margin: 15px;
}
.bigFlex{
    display: flex;
    
}
.topData{
    text-align: center;
}
.pressurelogo{
    height: 32px;
}
.forcastBut{
    text-align: center;
}

.logo {
    height: 100px;
    width: 100px;
    background-size: cover;
    transition: 1.5s;
}

.logo:hover {
    transform: rotateY(360deg);
}

.datainfo2 {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

.datainfo {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}




